build/
install/
log/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
*.pyc
__pycache__/
*.bag
*.db3
bags/
external_ws/
assets/demo_runs/
*.pt
*.onnx
*.engine
*.pth
*.weights
*.bag2
*.mcap
.pytest_cache/
.mypy_cache/
.vscode/
.idea/
